{% extends 'base.html' %}

{% block main_content %}

      <!-- details section -->
      <section id="car-details">
        <h1>Car Details</h1>
        <div class="info-section">
          <div class="car-header">
            <!-- car image -->
            <img
              class="car-img"
              src="{{ selected_car.image_url }}"
              alt="car image"
            />
            <!-- car type -->
            <h1>{{ selected_car.type }}</h1>
            <!-- car model -->
            <p><span class="description">Model: {{ selected_car.model }}</span></p>
            <!-- car year -->
            <p><span class="description">Year: {{ selected_car.year }}</span></p>
            <!-- car price -->
            <p><span class="description">Price: {{ selected_car.price|floatformat:3 }}</span></p>
          </div>

          <!-- Edit/Delete buttons -->
          <div class="buttons">
            <a href="{% url 'car-edit' selected_car.pk %}" class="edit-button">Edit</a>
            <a href="{% url 'car-delete' selected_car.pk %}" class="delete-button">Delete</a>
          </div>
        </div>
      </section>

{% endblock %}